html {
  font-family: 'Inter', sans-serif;
  scroll-behavior: smooth;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

footer {
  margin-top: auto;
  background-color: rgb(0, 0, 0, .85);
  bottom: 0px;
  padding: 10px;
}
.footer-content{
  max-width: 1300px;
  width: 70%;
  margin: auto;
}
.footer-content > a{
  margin:auto;
}

.banner{
  min-height: calc(90vh);
  /* background-color: rgb(37, 36, 36,); */
  width: 100%;
}
#bannerEnd, #aboutEnd, #projectEnd, #eventEnd{
  height: 50px;
}
.banner-content{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.banner-title{
  user-select: none;
  text-align: center;
  font-family : 'IBM Plex Mono', sans-serif;
  font-weight: bold;
  font-size: 80px;
  color: white;
  margin: 0px;
  display: inline-block;
}


@keyframes blink {
  50% {
    opacity: 0;
  }
  80% {
    opacity: 1;
  }
  100% {
    opacity: 1;
  }
}

.scroll-btn-container div {
  display: flex;
  justify-content: center;
  width: 100%;
}

.scroll-btn-container div a {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.scroll-btn-container div a span {
  display: block;
  height: 20px;
  width: 20px;
  border-bottom: 2px solid #3b82f6;
  border-right: 2px solid #3b82f6;
  transform: rotate(45deg);
  margin: -20px 0;
  animation: animate 2s infinite;
}

.scroll-btn-container div a span:nth-child(2) {
  animation-delay: -0.2s;
}

.scroll-btn-container div a span:nth-child(3) {
  animation-delay: -0.4s;
}

@keyframes animate {
  0% {
    opacity: 0;
    transform: rotate(45deg) translate(-20px, -20px);
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    transform: rotate(45deg) translate(20px, 20px);
  }
}



body {
  background-color: #141416;
  color: rgb(226, 226, 226);
  margin: 0;
  box-sizing: border-box;
  word-wrap: break-word;
  min-height: 100%;
  display: flex;
  flex-direction: column;
  font-size: 16px;
}

div.page {
  background: rgba(20, 20, 22, .9);
  font-family: 'Inter', sans-serif;
  justify-content: center;
  height: auto;
  min-height: 100vh;
  max-width: 1200px;
  width: 75%;
  margin: auto;
  z-index: 1;
  border-radius: 10px;
  margin-bottom: 15px;
  margin-top: 15px;
}

div.blog-page {
  background: rgba(20, 20, 22, .9);
  font-family: 'Inter', sans-serif;
  justify-content: center;
  height: auto;
  min-height: 100vh;
  max-width: 2000px;
  width: 95%;
  margin: auto;
  z-index: 1;
  border-radius: 10px;
  margin-bottom: 15px;
  margin-top: 15px;
}


div.page > h1.title, div.blog-page > h1.title{
  padding: 10px 0px;
  width: 100%;
  margin: 0px;
  text-align: center;
  align-content: center;
}

h1{
  /* padding: 10px; */
  margin-top: 0px;
}
div.page, div.blog-page > h2.subheading{
  padding: 10px;
  margin-top: 10px;
  margin-bottom: 0px;
}

h4.subsubheading{
  padding: 10px;
  margin: 0px 0px 0px 10px;
}

.list{
  margin: 5px 0px;
  padding: 0px 0px 0px 45px;
  /* list-style-type: none; */
}

div.paragraph > p.content {
  margin: 0px;
  padding: 10px;
  text-align: "center";
  /* font-size: 1.2em; */
}

.skills{
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  max-width: 700px;
  margin: 0 auto;
  padding: 0;
}

.skill{
  transition: all 0.3s ease-in-out;
  margin: 10px;
  padding: 10px;
  border-radius: 10px;
  /* background-color: rgb(37, 36, 36); */
  color: rgb(226, 226, 226);
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.skill p{
  padding-top: 5px;
  margin: 0px;
}
.skills li:hover {
  transform: scale(1.3);
}

@media screen and (max-width: 925px) {
    #notblog {
    display: none;
  }
}

.portrait-container{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: auto;
  margin-top: 10px;
  margin-bottom: 10px;
  opacity: 100%;
}

.portrait{
  /* align-self: center; */
  /* justify-self: center; */
  /* display: flex; */
  object-fit: cover;
  max-width: 280px;
  /* max-height:230px; */
  padding: 10px;
  opacity: 100%;
}

.Project-container, .Jobs, .Events{
  display: block;
}

.Project, .Job, .Event {
  padding: 5px;
  display: inline-block;
  width: 95%;
  height: auto;
}


.Job-Project-title, .Job-Project-desc, .Job-Project-tech, .Job-Project-repo{
  padding-left: 30px;
}

.Job-Event-title, .Job-Event-desc, .Job-Event-tech{
  padding-left: 30px;
}

hr.Main-separator{
  max-width: 100%;
  opacity: 95%;
  margin: 20px auto;
  border: 3px solid rgb(194, 194, 192);
  background-color: rgb(194, 194, 192);
  border-radius: 5px;
}

hr.Sub-separator{
  max-width: 80%;
  opacity: 50%;
  margin: 20px auto;
  border: 2px solid rgb(194, 194, 192);
  background-color: rgb(194, 194, 192);
  border-radius: 5px;
}

hr.Section-separator{
  max-width: 1300px;
  width: 70%;
  opacity: 100%;
  margin: 30px auto;
  border: 4px solid rgb(194, 194, 192);
  background-color: rgb(194, 194, 192);
  border-radius: 5px;
}

.Project-header  .Event-image{
  margin-top: 0px; 
}

.Project-image, .Event-image{
  float: left;
  display: inline-block;
  /* margin-left: 0;
  margin-right: auto; */
  width: 100%;
  height: auto;
  max-width: 500px;
  object-fit: cover;
  /* padding: 10px; */
  padding-right: 10px;
  padding-bottom: 10px;
}

.ProjectThumbnail{
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding: 10px;
}

.ProjectThumbnail-header{
  text-align: center;
}

.ProjectThumbnail-image{
  /* float: left; */
  display: inline-block;
  /* margin-left: 0;
  margin-right: auto; */
  margin: auto;
  width: auto;
  height: auto;
  max-width: 500px;
  object-fit: cover;
  /* padding: 10px; */
  padding-right: 10px;
  padding-bottom: 10px;
}

.Project-box{
  display: flex;
}

.BlogPost {
  padding: 15px;
  display: inline-block;
  width: -moz-calc(100% - 50px);
  width: -webkit-calc(100% - 50px);
  width: -o-calc(100% - 50px);
  width: calc(100% - 50px);
  /* min-width: 95%; */
  height: auto;
  border-radius: 5px;
  background-color: rgba(37, 36, 36, .8);
  margin: 10px;
}

.blog-column {
  width: 100%;
}

.BlogPost-image{
  /* float: left; */
  display: inline;
  width: 100%;
  height: auto;
  margin: auto;
  max-width: 500px;
  object-fit: cover;
  padding-right: 10px;
  padding-bottom: 10px;
}

.BlogPost-desc {
  margin-bottom: 0;
  margin-top: 8px;
  /* margin-left: 15px; */
}

.BlogPost-header {
  margin-bottom: 0;
  margin-top: 8px;
}

.Job-image{
  /* float: left; */
  clear: both;
  display: block;
  /* align-self: center; */
  width: 70%;
  /* height: auto; */
  /* max-width: 100%; */
  /* object-fit: cover; */
  /* padding: 10px; */
  margin: auto;
  padding-top: 10px;
  padding-right: 10px;
}


.Job-logo{
  float: left;
  display: inline-block;
  object-fit: cover;
  /* padding: 10px; */
  padding-right: 10px;
}
.contact-icon {
  color: white;
  height: 35px;
  width: auto;
  margin: 0px 10px 0px 0px;
}

a{
  color: inherit;
}

a.button{
  color: rgb(237, 237, 237, 1);
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  width: 150px;
  padding: 0 1rem;
  height: 100%;
  border-radius: 3px;
  cursor: pointer;
  appearance: button;
}
/* @media screen and (max-width: 800px){
  a.button{
      display: none;
  }
} */

a.button:hover {
  color: #000000;
  background: rgba(179, 179, 179, 0.95);
  /* background: red; */
  font-weight: bold;
}

.modal {
  font-size: 12px;
}
.modal > .header {
  width: 100%;
  border-bottom: 1px solid gray;
  font-size: 18px;
  text-align: center;
  padding: 5px;
}
.modal > .content {
  width: 100%;
  padding: 10px 5px;
}
.modal > .actions {
  width: 100%;
  padding: 10px 5px;
  margin: auto;
  text-align: center;
}
.modal > .close {
  cursor: pointer;
  position: absolute;
  display: block;
  padding: 2px 5px;
  line-height: 20px;
  right: -10px;
  top: -10px;
  font-size: 24px;
  background: #ffffff;
  border-radius: 18px;
  border: 1px solid #cfcece;
}

.modalpopup{
  background: none;
  padding: 5px;
  display: inline-block;
  width: 95%;
  /* width: auto; */
  height: auto;
  font-family: 'Inter', sans-serif;
  color: rgb(226,226,226);
  font-size: 16px;
  text-align: left;
  border: none;
  margin: auto;
}

.modalpopup:hover{
  background: rgba(54, 52, 52, 0.90);
}

.jakepopup-content{
  background: #232425;
  padding: 100px;
}


@media screen and (min-width: 900px){
  .widget-container {
    max-width: 100%;
    display: grid;
    /* grid-template-columns: 2fr 1fr; */
    grid-template-columns: 66% 33%;

    /* grid-gap: 10px; */
    margin: 10px;
    padding: 10px;

  }
}


/* Scroll bar css */
::-webkit-scrollbar {
  width: 12px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #232425;
  
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: rgb(97, 97, 102);
  border-radius: 100px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: rgb(61, 61, 66);
}

@media screen and (max-width: 500px) {
  .Job-logo{
    float: none;
    display: block;
    margin: 0 auto;
  }
  .banner-title{
    font-size: calc(50px + 2vmin);
  }
}

@media screen and (max-width: 1100px) {
  .Project-image, .ProjectThumbnail-image, .Job-image, .Event-image, .BlogPost-image{
    width: 100%;
    max-width: 100%;
  }
  .Job-image{
    padding-left: 30px;
  }
}

/* @media screen and (max-width: 950px) {
  div.page, div.blog-page{
    max-width: 85%;
  }
} */

@media screen and (min-width: 855px){
  .banner-title:after {
    content: '';
    width: 40px;
    height: 7px;
    background: white;
    opacity: 0;
    margin-left: 3px;
    display: inline-block;
    animation: blink .5s infinite alternate;
  }
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}